<html>
	<head>
		<title>Settings</title>
		<meta name="decorator" content="atl.admin">
			$webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
	</head>
	<body>
		<div class="aui-group">
			<div class="aui-item">
				<h2>Current Settings</h2>
				<table class="aui" id="basic">
					<tboby>
						<tr>
							<td>
								Email Value
							</td>
							<td>
								$Settings.getEmail()
							</td>
						</tr>
						<tr>
							<td>
								Interval Value (in minutes)
							</td>
							<td>
								$Settings.getInterval()
							</td>
						</tr>
					</tboby>
				</table>
			</div>
			<div class="aui-item">
				<h2>Change Settings</h2>
				<form class="aui" name="jira-csv-sender-settings-form" method="POST"
					action="$Settings.getContextPath()/plugins/servlet/jiracsvsender/settings">
					<input type="text" name="email" id="email" class="text"
						required placeholder="Email" />
					<br />
					<input type="text" name="interval" id="interval" class="text"
						required placeholder="Interval (in minutes)" />
					<br />
					<input class="button submit" type="submit" value="Save" />

					<div class="description">Settings for Jira CSV Sender</div>
				</form>
			</div>
		</div>
	</body>
</html>