<html>
	<head>
		<title>Settings</title>
		<meta name="decorator" content="atl.admin">
			$webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
			$webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2")
			$webResourceManager.requireResource("com.atlassian.plugins.cronservices.jira-csv-sender:jira-csv-sender-resources")
	</head>
	<body>
		<div class="aui-group">
			#if ($SETTINGS_AVAILABLE == "YES")
			<div class="aui-item">
				<h2>Current Settings</h2>
				<table class="aui" id="basic">
					<tboby>
						<tr>
							<td>
								Email Value
							</td>
							<td>
								$Settings.getEmail()
							</td>
						</tr>
						<tr>
							<td>
								Interval Value (in minutes)
							</td>
							<td>
								$Settings.getInterval()
							</td>
						</tr>
						<tr>
							<td>
								Project name
							</td>
							<td>
								$Settings.getProjectName()
							</td>
						</tr>
					</tboby>
				</table>
			</div>
			#end
			<div class="aui-item" id="settings">
			#if ($SETTINGS_AVAILABLE == "NO")
				<h2>Please, install Plugin Settings</h2>
			#else
				<h2>Change Settings</h2>
			#end	
				<form class="aui" name="jira-csv-sender-settings-form" method="POST"
					action="$Settings.getContextPath()/plugins/servlet/jiracsvsender/settings">
					<input type="text" name="email" id="email" class="text"
						required placeholder="Email" />
					<br />
					<br />
					<input type="text" name="interval" id="interval" class="text"
						required placeholder="Interval (in minutes)" />
					<br />
					<br />
					<select class="aui" id="projectsList" required>
						<option disabled>Select Project</option>
					</select>
					<br />
					<br />
					<input type="hidden" name="projectName" id="projectName"></input>
					<input class="button submit" type="submit" value="Save"  disabled="" id="sendFormBtn"/>
					<div class="description">Settings for Jira CSV Sender</div>
				</form>
			</div>
		</div>
	</body>
</html>